############################################
####  https://github.com/independentcod  ###
############################################
Port 22 
ListenAddress 0.0.0.0
PermitRootLogin yes
PasswordAuthentication yes
ChallengeResponseAuthentication no
UsePAM yes
Banner /etc/ssh/sshd_banner
AcceptEnv LANG LC_*
Subsystem	sftp	/usr/lib/openssh/sftp-server
